*{margin: 0; padding: 0}
*, *::before, *::after{box-sizing: border-box}
a, a:hover{text-decoration: none}
ul{list-style: none}
:root{
    --font-size-normal: 16px;
    --text-color: #040e27;
    --font-size-big: 26px;
}
body{background-color: #eff1f8; font-size: var(--font-size-normal) !important; color: var(--text-color); }
#main-container{margin-bottom: 40px}
.title{font-weight: bold; font-family: var(--font-size-big)}
.pd-top{padding-top: 40px}
.btn-create-contact{ margin: 10px auto;}
.pd-body{padding: 30px; border-radius: 5px}
label.no-text{min-height: 17px}

/*css-form*/
form .group-button-form{display: flex; justify-content: flex-end}
form .group-button-form button:first-child{margin-right: 10px}
form .group-image-product{display: flex}
form .group-image-product img{max-width: 100px; margin-right: 10px}
form .group-image-user img{max-height: 100px}

/*css-table*/
table.table-bordered thead tr th .group-th-sort{display: flex; align-items: center; justify-content: space-between}
table.table-bordered thead tr th .group-th-sort .action-sort{display: flex; font-size: 12px; cursor: pointer}
table.table-bordered thead tr th .group-th-sort .action-sort i{color: grey}
table.table-bordered thead tr th .group-th-sort .action-sort i.active{color: black}

/*css-card*/
.group-card .card .carousel{padding: 10px 10px 0 10px}
.group-card .card .carousel img{height: 200px; width: 100%; object-fit: cover}
.group-card .card .card-body .price{font-size: 14px}
.group-card .card .card-body .group-button-buy{display: flex; justify-content: end}
.group-card .card .card-body .group-button-buy a{color: white}
.group-card .card .card-body a{color: var(--text-color)}

/*css-pagination*/
.page-item.active .page-link{background-color: #17a2b8; border-color: #17a2b8}
.page-link{color: #17a2b8}

header#wrap-header{padding: 15px 0}

section#product-list .row .group-card:nth-child(n+3){margin-bottom: 30px}

section#product-detail .detail-left{display: flex; justify-content: space-between}
section#product-detail .detail-left .carousel-product,.content-product{width: 48%}
section#product-detail .detail-left .carousel-product .carousel{padding: 0 10px 0 10px}
section#product-detail .detail-left .carousel-product .carousel img{height: 400px; width: 100%; object-fit: cover}
section#product-detail .detail-left .content-product p.price{font-size: 14px}
section#product-detail .detail-left .content-product form label{font-size: 13px; width: 65%}
section#product-detail .detail-left .content-product form select{width: 35%}
section#product-detail .detail-left .content-product form .group-button-form{margin-top: 60px}
section#product-detail .detail-right .group-card:nth-child(n+2){margin-top: 10px}
